@charset "UTF-8";
@import "base/reset";
@import "base/base";
@import "mixin/vendor-prefix";

.container{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.c-text{
  &__lv1{
    font-size: 56px;
    font-weight:700;
  }
  &__lv2{
    font-size: 48px;
    font-weight:700;
  }
  &__lv3{
    font-size: 18px;
    font-weight:700;
  }
  &__lv4{
    font-size: 16px;
    font-weight:700;
  }
}
.c-desc{
  &__lv1{
    font-size: 28px;
    font-weight: 400;
  }
  &__lv2{
    font-size: 20px;
    font-weight: 400;
  }
  &__lv3{
    font-size: 16px;
    font-weight: 400;
  }
}
// ボタンパーツ
.c-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #333333;
  height: 40px;
  font-size: 16px;
  border-radius:16px;
  padding: 0 32px;
  font-weight: 700;
  &--white{
    color: #333333;
    background-color: #ffffff;
  }
  // &--gradient{
  //   color: #6F019C;//非対応のブラウザでの文字色を設定
  //   background: -webkit-linear-gradient(#6F019C, #C6017E);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }
}
// リンクホバー時の下線
.c-linkUnderLine{
  position: relative;
  &:hover{
  &::after{
    content: "";
    display: block;
    width: 45%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
}

// 比率が変わらない画像のパーツ
.c-image{
  background-color: blue;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  &:before{
    content: "";
    display: block;
    width: 100%;
    padding-top:100%;
  }
}

// ==================================================
// ヘッダー
// ==================================================
.p-header{
  margin-bottom:-80px;
  height: 80px;
  &__logo img{
    width: 180px;
    height: auto;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
  }
  &__logo{
    display: flex;
    align-items: center;
  }
  &__nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    &__list{
      display: flex;
      align-items: center;
    }
    &__item{
      // position: relative;
      // &:hover{
      //   &::after{
      //     content: "";
      //     display: block;
      //     width: 45%;
      //     height: 3px;
      //     background-color: #ffffff;
      //     position: absolute;
      //     bottom: 0;
      //     left: 50%;
      //     transform: translateX(-50%);
      //   }
      
      a{
        padding: 8px;
      }
    }
    &__head{
      height: 80px;
      display: flex;
      align-items: center;
      a{color: #ffffff;}
    }
    &__body{
      height:80px;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      border-radius: 24px;
    }
    &__search{
      padding: 0 40px;
      background-color: #ffffff;
      &__list{
        display: flex;
        align-items: ceneter;
      }
    }
  }
  &__action{
    a{color: #ffffff;}
    &__list{
      display: flex;
      align-items: center;
      a{
        padding: 8px;
      }
    }
  }
}
// ==================================================
// メイン
// ==================================================
.p-home{
  padding:0 0 40px 0;
  &__mainVisual{
    height: 95vh;
    background:url(../img/main.jpeg);
    background-size: cover;
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    &__text{
      text-align: center;
      .c-text__lv3{
        margin-bottom: 32px;
      }
    }
  }
  &__section{
    margin:64px 0 0;
    &__head{
      margin-bottom:8px;
    }
    &__body{

    }
  }
}

.p-areaList{
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  &__item{
    display: flex;
    align-items: center;
    width: 25%;
    padding: 8px;
    &__image{
      width: 60px;
      margin: 0 8px 0 0;
    }
  }
}

.p-cardList{
  display: flex;
  margin: -8px;
  &__item{
    flex:1 1 0%;
    padding: 8px;
  }
}
.p-box{
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 480px;
  width: 100%;
  padding: 80px;
  background-color: #333333;
  border-radius: 8px;
  position: relative;
  &::before{
    content: "";
    display: block;
    width: 700px;
    height: 100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+75,ffffff+100&1+18,0.7+75,0+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 18%, rgba(0,0,0,0.7) 75%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 18%,rgba(0,0,0,0.7) 75%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,1) 18%,rgba(0,0,0,0.7) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 8px 0 0 8px;
  }
  &__text{
    max-width: 450px;
    z-index: 1;
    .c-button{
      margin: 56px 0 0 0;
    }
  }
}
// ==================================================
// フッター
// ==================================================
.p-footer{
  background-color: #F7F7F7;
  padding: 40px 0 0;
  &__body{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 0 16px 0;
  }
  &__item{
    width: 25%;
    &__list{
      a{
        display: inline-flex;
      }
    }
    &__head{
    }
    &__body{

    }
  }
  &__foot{
    // margin-top: 8px;
    padding: 8px 0;
    border-top: 2px solid #333;
  }
}